body {
    background-color: blueviolet;
}

h1 {
    color: orangered;
}

p {
    color: greenyellow;
}

.list_items{
    text-align: center;
    color: aqua;
    font-style: italic;
    margin-top: 10dp;
    margin-bottom: 10dp;
}